version: "3"
services:
  web:
    # replace username/repo:tag with your name and image details
    image: apfnam/get-started:part2
    deploy:
      replicas: 5
      restart_policy:
        condition: on-failure
    ports:
      - "4000:80"
    environment:
      - REDIS_HOST=redis
      - SERVING_HOST=serving
    networks:
      - webnet
  visualizer:
    image: dockersamples/visualizer:stable
    ports:
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
  serving:
    image: tensorflow/serving
    ports:
      - "8500:8500"
      - "8501:8501"
    volumes:
      - "./models:/models"
      - "./models/models_config:/models_config"
    command: >
      --model_config_file=/models_config/models.config
      --tensorflow_session_parallelism=2
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: [ node.role == manager ]
    networks:
      - webnet
  redis:
    image: redis
    ports:
      - "6379:6379"   
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - redis
    networks:
      - webnet
    environment:
      GF_INSTALL_PLUGINS: redis-datasource
volumes:
  grafana_data:
networks:
  webnet:
